
.filter-table .table-striped tbody tr:nth-of-type(odd),
.filter-table .table-striped tbody tr:hover {
    background-color: white;
}

.filter-table .table-bordered td {
    border: 0 !important;
}

.filter-table .table-bordered th {
    border-left: 0 !important;
    border-top: 0 !important;
    border-right: 0 !important;
    border-bottom: 1px solid black !important;
}

.filter-table nav {
    margin: 0 auto;
}